@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(images/innerpagebg.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#FFF;

}
.contact-wrap {

    max-width: 750px;

    margin: 0 auto;

    padding-top: 50px;   

}
.es-carousel{
	overflow:hidden;
margin-left:0px;
}
.es-carousel ul{
	display:block;
    padding-left: 2px;
    width: 800px;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	padding-right: 6px;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#ffffff;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	  border: medium none;
    display: block;
    height: 61px;
    width: 100px;
}
.contact-info {



    float: left;

    padding: 20px 10px 0 20px;
	line-height:22px;

  color: #000000 !important;
	

}

.contact-info a {
text-decoration:none;

  color: #000000 !important;
	

}
.contact-info1 {



    float: left;

    padding: 70px 10px 0 20px;
	line-height:22px;

  color: #000000 !important;
	

}

.contact-info1 a {
text-decoration:none;

  color: #000000 !important;
	

}
.contact-info1 p{
    
}

label{color:#d80202; font-size:16px !important; font-weight:bold;}

input{line-height:31px;}

input{width:305px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:rgba(255,255,255,.6);border:solid 1px #edb399;}
textarea{width:630px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:rgba(255,255,255,.6);border:solid 1px #edb399;}
#contact_form{height:250px;background-color:#ffe7dc;border:solid 1px #edb399;padding:10px 20px 50px 20px;  -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; margin-bottom:30px;}

#submit_button{width:109px;height:34px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#ed0303;-webkit-box-shadow:inset 0 2px rgba(255,255,255,.29);-moz-box-shadow:inset 0 2px rgba(255,255,255,.29);box-shadow:inset 0 2px rgba(255,255,255,.29);border:solid 1px #d80202;font-weight:bold;color:#fff;margin-left:7px;}

label.required:after{content:'*';color:red;}

.row{margin:5px;}


.contact-map iframe {

    max-width: 500px;

    float: right;

    padding: 0 20px 0 0;

}

#wrapper
{background-image:url(images/innerpagebg.jpg);
	background-position:top;
	width:100%;
	background-repeat:repeat-x;
	height:auto;
}



#maincontainer
{
	width:1030px;
	margin:0px auto;
	height:500px;;
}
#maincontainer1
{
	width: 1030px;
	margin: 0px auto;
	height: auto;
}
.topcontainer
{height:240px;
float:left;
width:1030px;
}

.topinner
{
	height:205px;
	width:865px;
	float:left;
}

.flash
{
	width:1030px;
	float:left;
	height:504px;
	background-image:url(images/moving-bg.jpg);
	background-repeat:no-repeat;
}

.text1
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F00;
	text-decoration:none;
	width:160px;
	margin-top:40px;
	float:left;
}

.leftbuttons
{
	width:109px;
	height:360px;
	float:left;
	margin:5px 0 0 3px;
}

.moving
{
	width:817px;
	height:375px;
	float:left;
	margin-top:5px;
}

.swadesupdate
{
	float:left;
	width:630px;
	height:100px;
	margin-left:110px;
}

h3
{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}

.text2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFF;
	text-decoration:none;
	float:left;
	
}

#middlecontainer
{
	height:auto;
	width:100%;
	background-color:#e9e9e9;
	
}

.middleinner
{
	width:1030px;
	margin:0px auto;
	height:550px;
	background-image:url(images/innerbg.jpg);
	background-repeat:no-repeat;
	height:610px;
}

.block1 , .block2 , .block3
{
	float:left;
	width:204px;
	height:750px;
	border:#bebebe solid 1px;
	margin:30px 0 0 7px;
	background-color:#FFF;
}

.text3
{
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:no;
	font-size:17px;
	float:left;
	font-weight:600;
	width:190px;
	height:19px;
	margin:15px 0 0 10px;
}

.box1
{
	width:178px;
	height:233px;
	float:left;
	margin:15px 0 0 14px;
}
	
	
.text4
{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:178px;
	float:left;
	font-size:14px;
	margin-top:7px;
	font-weight:600;
	color:#333333;
}

.text5
{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:178px;
	float:left;
	font-size:12px;
	height:50px;
	color:#333333;
	margin-top:5px;
}

.right1
{
	float:left;
	width:330px;
	height:150px;
	margin-left:30px;
}
.swades
{
	float:left;
	width:290px;
	height:90px;
	margin-top:30px;
	margin-left:12px;

}

.box
{
	width:auto;
	float:left;
	background-color:#FFF;
	border:1px solid #333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform:uppercase;
	color:#333;
	padding:2px;
	margin-left:6px;
}

.right2
{
	float:left;
	width:380px;
	height:391px;
	border:solid 1px #cacaca;
	margin-left:8px;
	margin-top:29px;
	background-color:#FFF;
}

.inner1
{
	width:354px;
	float:left;
	height:133px;
	background-image:url(images/box-bg.jpg);
	background-repeat:repeat-x;
	border:solid 1px #e0e0e0;
	margin:10px 0 0 12px;
}

.footer
{
	//float:left;
	margin:0 auto;
	width:1030px;
	height:180px;
}

.footerinner
{
	background-image:url(images/footer.jpg);
	float:left;
	width:1025px;
	height:57px;
	margin-top:25px;
}

.footertext
{
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	
	width:1000px;
}

.buttons
{
	width:857px;
	height:46px;
	float:left;
	margin:10px 0 0 10px;
}

.motion
{width:1030px;
height:90px;
float:left;
}

.textfld{ width:130px; height:20px; margin-bottom:3px;border:1px solid #ef7a24; color:#ef7a24;padding-left:10px; overflow:hidden; line-height:24px;
font-size:10px;}

.aboutusbanner
{
	width:908px;
	height:24px;
	float:left;
	margin-left:25px;
	background-image:url(images/abbanner.jpg);
	text-decoration:n;
	color:#FFF;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 0 0 80px;
	font-size:12px;
}

.aboutleft
{
	width: 213px;
	float: left;
	height: auto;
	margin-left: 25px;
}

.innerbuttons
{
	width:213px;
	height:25px;
	float:left;
	background-image:url(images/buttoninnerbg.jpg);
	background-repeat:no-repeat;
	color:#FFF;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12PX;
	padding-top:7px;
	text-align:center; 
}

.innerbuttons a:hover{
	color:#000 !important;
}


.innerrepeat
{
	float: left;
	background-image: url(images/abtmiddle.png);
	background-repeat: repeat-y;
	height:650px;
	width: 213px;
}

	
.aboutright
{
	float:left;
	width:775px;
	height:auto;
	background-color:#FFF;
}

h1{	float:left;
	width:720px;
	height:auto;
	text-decoration:none;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#d63129;
	padding:30px 0 0 30px;
	font-weight:600;}
.text6
{
	float:left;
	width:720px;
	height:auto;
	text-decoration:none;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#d63129;
	padding:30px 0 0 30px;
	font-weight:600;
}
.videopage
{
	float: left;
	color: #000;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	height: inherit;
	text-align: justify;
	line-height: 16px;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 800px;
}
.text7
{
	float: left;
	color: #000;
	margin-top: 25px;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	width: 707px;
	height: inherit;
	text-align: justify;
	line-height: 16px;
	margin-left: 30px;
	margin-bottom: 5px;
}
	
	.content
	{
		width:auto;
		height:auto;
		float:left;
	}
	
	.partners
	{
		width:774px;
		height:146px;
		float:left;
		margin-top:20px;
	}
	
	.partnersinner
	{
		width:258px;
		float:left;
		height:146px;
		text-align: center;
	}
	
	.text8
	{
		color:#000;
		font-size:12px;
		text-decoration:none;
		float:left;
		font-family:Arial, Helvetica, sans-serif;
		clear:left;
		text-align:center;
		margin-top:10px;
	}
		.right4
		{
			background-image:url(images/aboutright.png);
			background-repeat:repeat-y;
			float:left;
			height:225px;
			width:5px;}
			
			.nextbuttons
			{
				float:left;
				width:auto;
				height:20px;
				margin-right:10px;
				padding:5px 10px 0 10px;
				color:#FFF;
				background-color:#f13623;
				text-decoration:none;
				border:solid 1px #f13623;
			}
			
					.nextbuttons:hover
			{
				float:left;
				width:auto;
				height:20px;
				margin-right:10px;
				padding:5px 10px 0 10px;
				color:#000;
				background-color:#f13623;
				text-decoration:none;
				border:solid 1px #f13623;
			}
			
			.nextbuttons-visited
			{
				float:left;
				width:auto;
				height:20px;
				margin-right:10px;
				padding:5px 10px 0 10px;
				color:#000;
				text-decoration:none;
				border:solid 1px #f13623;
			}
			
			.nextbuttons-visited:hover
			{
				float:left;
				width:auto;
				height:20px;
				margin-right:10px;
				padding:5px 10px 0 10px;
				color:#000;
				text-decoration:none;
				border:solid 1px #f13623;
			}
			
			
.bgbox
{
	width:954px;
	height:790px;
	float:left;
	margin-left:55px;
	margin-top:140px;
}

.bgboxinner
{
	width:914px;
	height:790px;
	float:left;
}

.whitebg
{
	width:914px;
	height:756px;
	float:left;
	background-color:#FFF;
}

.readmore
{
	color:#C00; font-weight:600; margin-top:7px; float:right; font-size:11px; width:70px; text-decoration:none; margin-right:4px;
}
.readmore:hover
{
	color:#F00; font-weight:600; margin-top:7px; float:right; font-size:11px; width:70px; margin-right:4px; text-decoration:none;
}

.scrollerdiv
{
	width:700px;
	height:70px;
	float:left;
	margin-top:25px;
}
.fttext{ float:right; margin:18px 27px 0 0; color:#FF0000;}
.fttext a{ text-decoration:none; color:#FF0000;}
.fttext a:hover{ text-decoration:none; color:#FF0000;}